@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.comment_container {
    max-width: 1100px;
    margin: 30px auto;
    border-radius: 25px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .05), 0 0 1px rgba(0, 0, 0, .1);
    color: #4a4a4a;
}

.comment_container label {
    font-family: 'Lato', sans-serif;
}

.title {
    font-size: 32px;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: 0.004em;
    margin-bottom: 24px;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
}

.radio {
    grid-area: 2 / 3 / 3 / 5;
}

.comment_content {
    grid-area: 3 / 1 / 4 / 3;
}

.button {
    width: 100px;
    height: 50px;
}


.form label {
    display: block;
}

.radio label:nth-child(n+2) {
    display: inline;
}

@media only screen and (max-width: 1380px) {
    .comment_container {
        max-width: 980px;
    }
}

@media only screen and (max-width: 1200px) {
    .comment_container {
        width: 692px;
    }
    .form textarea{
        max-width: 300px;
    }
}

@media only screen and (max-width: 768px) {
    .comment_container {
        max-width: 366px;
        width: 87.5%;
    }

    .form {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            ". ."
            ". ."
            ". ."
            "radio comment_content";
    }

    .radio {
        grid-area: radio;
    }

    .comment_content {
        grid-area: comment_content;
    }
    .form input {
        max-width: 120px;
    }
    .form textarea{
        max-width: 150px;
    }
}