@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.post_item {
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: auto;
    padding: 32px;
    position: relative;
    transition: transform 0.3s, box-shadow 0.6s;
    width: 346px;
    padding: 26px;
    margin-bottom: 36px;
    margin-right: 30px;
}

.post_item:nth-child(3n){
    margin-right: 0;
}

.post_item:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 30px 0 rgba(0,0,0,0.05);
}

.post_item:hover .image{
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}


.header{
    margin: -32px;
    margin-bottom: 16px;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.description{
    justify-content: space-between;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
}

.category{
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 1.3;
    font-weight: 700;
    color: #6e6e73;
    letter-spacing: 0em;
}

.post_title{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.009em;
    max-height: 7em;
}

.date{
    margin-top: 12px;
    font-size: 13.5px;
    line-height: 1.3;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #6e6e73;
}

.post_link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

@media only screen and (max-width: 1380px){
    .post_item{
        width: 472px;
        padding: 32px;
        margin-bottom: 36px;
    }
    .post_item:nth-child(3n){
        margin-right: 0px;
    }
    .post_item:nth-child(even){
        margin-right: 0px;
    }
    .post_item:nth-child(odd){
        margin-right: 36px;
    }
    .header{
        height: 266px;
    }
}

@media only screen and (max-width: 1200px){
    .post_item{
        width: 333px;
        padding: 24px;
        margin-bottom: 24px;
    }
    .post_item:nth-child(odd){
        margin-right: 24px;
    }
    .header{
        height: 187px;
    }
}

@media only screen and (max-width: 768px){
    .post_item{
        width: auto;
        padding: 24px;
        margin-bottom: 24px;
        margin-left: auto;
        margin-right: auto;
    }
    .post_item:nth-child(odd){
        margin-right: auto;
    }
    .header{
        height: 187px;
    }
}